body{
    background-image:url("../images/צילום\ מסך\ 2021-04-18\ 023346.png"); 
     background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    }
    section h1{
      padding-top: 250px;
      color: aliceblue;
      font-size: 80px;
      text-align: center;
    }

    footer{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      background-color: aliceblue;
      opacity: 0.3;
      height: 25%;
     
    
    
     }
   
    footer img{
    margin-right: 180px;
     height: 30px;
     padding-top: 20px;
    
    
    }
    img:hover{
      height: 40px;
      -webkit-transition:height 2s;

    }